<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmvtb7eV5tPkeuzu_ToYJLI7lGCajhhOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>283171518590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoC9Friday</string>
	<key>PROJECT_ID</key>
	<string>todo-c9-friday</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-c9-friday.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283171518590:ios:759418781a7a4e36a4402f</string>
</dict>
</plist>